/node_modules/
/package-lock.json
/.env
*.pyc
*.pyo
__pycache__/
/.venv
.DS_Store
Thumbs.db
.vscode/
/.idea/
/dist/
/build/
*.log
/api-rest/create-db.js
/api-rest/create-table.js
/api-rest/node_modules/
/api-rest/package-lock.json
/api-rest/.env
