body {
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    margin-top: 50px;
    background-color: #000000;
    color: #9450ff;
}

h1 {
    color: #9450ff;
    font-weight: 700;
}

.datos {
    font-size: 16px;
    margin-top: 20px;
    color: #9450ff;
}

.imagen {
    width: 120px; /* Imagen más pequeña */
    margin-bottom: 20px;
}

.gif-animado {
    width: 200px;
    margin-top: 20px;
}
